.form {
  width: 115rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 15rem;
}

.inputs {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 2rem;
}

.bookInput {
  width: 10.5rem;
  height: 2.813rem;
  padding: 0.813rem 35.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #ddd;
}

.authorInput {
  width: 14.813rem;
  height: 2.813rem;
  padding: 0.813rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #ddd;
}

.genreInput {
  width: 14.813rem;
  height: 4.3rem;
  padding: 0.813rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #ddd;
  font-family: 'Roboto Slab', serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.inputs button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.addBook {
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  border: none;
  background-color: #0290ff;
  width: 15rem;
  padding: 0 3rem;
}

.inputs input::placeholder {
  font-size: 1.4rem;
  font-weight: 600;
  padding-left: 1rem;
}

.title {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 2rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.genreInput option {
  font-family: 'Roboto Slab', serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}
