.headerContainer {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90rem;
  padding: 0.5rem 0;
}

.Logo {
  font-size: 3.2rem;
  font-weight: 700;
  color: #0290ff;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.navList ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.navList li {
  list-style: none;
}

.navList a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1.5px;
}

.headBtn {
  padding: 1.2rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 100%;
  background-color: #fff;
}
